<% include header.ejs %>
  <body>
    <form action="" method="POST">
        <div class="form-group">
            <input type="text" name="fname" placeholder="First Name">
            <input type="text" name="lname" placeholder="Last Name">
            <input type="text" name="age" placeholder="Age">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </div>
    </form>
  </body>
</html>
